@charset "UTF-8";

// Fonts
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Raleway', sans-serif;

// Colors
$white: #fff;

$grey: #f7f7f7;

$main-color: #DEF2EF;
$second-color: #05D1D7;
$third-color: #67B69A;
$light-blue-color: #bffdff;
$red-color: #e53935;
$grey-color: #263238;
$blank-color: #E8EAF6;
$black-color: #010101;


// Box shadow
$box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
$box-shadow-2: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

// Border radius
$border-radius: 3px;

// Transition
$transition: all 0.3s ease-in-out;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$phone: 544px;
$tablet: 768px;
$desktop: 992px;
$wide-desktop: 1200px;

// Z-index
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;
$zindex-4: 15;
$zindex-5: 20;
$zindex-6: 25;
$zindex-7: 30;
